# sparkQL문제 풀이
* https://url.kr/2hijnk

In [7]:
cust = spark.read.csv('Customers.csv', header=True, inferSchema=True)

In [2]:
ordr = spark.read.csv('Orders.csv', header=True, inferSchema=True)

In [3]:
prod = spark.read.csv('Products.csv', header=True, inferSchema=True)

In [8]:
cust.show()

+------+------+----+------+------+-----+
|userid|  name| age| grade|   job|coins|
+------+------+----+------+------+-----+
| apple|정소화|  20|  gold|  학생| 1000|
|banana|김선우|  25|   vip|간호사| 2500|
|carrot|고명석|  28|  gold|  교사| 4500|
| melon|성원용|  35|  gold|회사원| 5000|
|orange|김용욱|  22|silver|  학생|    0|
| peach|오형준|null|silver|  의사|  300|
|  pear|채광주|  31|silver|회사원|  500|
+------+------+----+------+------+-----+

In [9]:
ordr.show()

+-------+------+------+------+---------------+----------+
|orderid|userid|prodid|amount|           addr|   orddate|
+-------+------+------+------+---------------+----------+
|    o01| apple|   p03|    10|  서울시 마포구|2013-01-01|
|    o02| melon|   p01|     5|  인천시 계양구|2013-01-10|
|    o03|banana|   p06|    45|  경기도 부천시|2013-01-11|
|    o04|carrot|   p02|     8|  부산시 금정구|2013-02-01|
|    o05| melon|   p06|    36|  경기도 용인시|2013-02-20|
|    o06|banana|   p01|    19|충청북도 보은군|2013-03-02|
|    o07| apple|   p03|    22|서울시 영등포구|2013-03-15|
|    o08|  pear|   p02|    50|  강원도 춘천시|2013-04-10|
|    o09|banana|   p04|    15|전라남도 목포시|2013-04-11|
|    o10|carrot|   p03|    20|  경기도 안양시|2013-05-22|
+-------+------+------+------+---------------+----------+

In [10]:
prod.show()

+------+----------+-----+-----+--------+
|prodid|  prodname|stock|price|   maker|
+------+----------+-----+-----+--------+
|   p01|  그냥만두| 5000| 4500|대한식품|
|   p02|  매운쫄면| 2500| 5500|민국푸드|
|   p03|  쿵떡파이| 3600| 2600|한빛제과|
|   p04|맛난초콜렛| 1250| 2500|한빛제과|
|   p05|  얼큰라면| 2200| 1200|대한식품|
|   p06|  통통우동| 1000| 1550|민국푸드|
|   p07|달콤비스켓| 1650| 1500|한빛제과|
+------+----------+-----+-----+--------+

In [68]:
# 고객테이블에 고객아이디, 고객이름, 등급속성, 7-10
cust.select('userid', 'name', 'grade').show()

+------+------+------+
|userid|  name| grade|
+------+------+------+
| apple|정소화|  gold|
|banana|김선우|   vip|
|carrot|고명석|  gold|
| melon|성원용|  gold|
|orange|김용욱|silver|
| peach|오형준|silver|
|  pear|채광주|silver|
+------+------+------+

In [67]:
# 고객테이블에 존재하는 모든 속성 검색, 7-11
cust.select('*').show()

+------+------+----+------+------+-----+
|userid|  name| age| grade|   job|coins|
+------+------+----+------+------+-----+
| apple|정소화|  20|  gold|  학생| 1000|
|banana|김선우|  25|   vip|간호사| 2500|
|carrot|고명석|  28|  gold|  교사| 4500|
| melon|성원용|  35|  gold|회사원| 5000|
|orange|김용욱|  22|silver|  학생|    0|
| peach|오형준|null|silver|  의사|  300|
|  pear|채광주|  31|silver|회사원|  500|
+------+------+----+------+------+-----+

In [16]:
# 고객테이블에 존재하는 모든 속성 검색, 7-12
cust.select('userid', 'name', 'age', 'grade', 'job', 'coins').show()

+------+------+----+------+------+-----+
|userid|  name| age| grade|   job|coins|
+------+------+----+------+------+-----+
| apple|정소화|  20|  gold|  학생| 1000|
|banana|김선우|  25|   vip|간호사| 2500|
|carrot|고명석|  28|  gold|  교사| 4500|
| melon|성원용|  35|  gold|회사원| 5000|
|orange|김용욱|  22|silver|  학생|    0|
| peach|오형준|null|silver|  의사|  300|
|  pear|채광주|  31|silver|회사원|  500|
+------+------+----+------+------+-----+

In [14]:
# 제품테이블에서 제조업체 검색, 7-13
prod.select('maker').show()

+--------+
|   maker|
+--------+
|대한식품|
|민국푸드|
|한빛제과|
|한빛제과|
|대한식품|
|민국푸드|
|한빛제과|
+--------+

In [80]:
# 제품테이블에서 제조업체를 검색하되, ALL키워드를 사용해보자. 7-14
import pyspark.sql.functions as F
prod.select(F.col('*')).show()

+------+----------+-----+-----+--------+
|prodid|  prodname|stock|price|   maker|
+------+----------+-----+-----+--------+
|   p01|  그냥만두| 5000| 4500|대한식품|
|   p02|  매운쫄면| 2500| 5500|민국푸드|
|   p03|  쿵떡파이| 3600| 2600|한빛제과|
|   p04|맛난초콜렛| 1250| 2500|한빛제과|
|   p05|  얼큰라면| 2200| 1200|대한식품|
|   p06|  통통우동| 1000| 1550|민국푸드|
|   p07|달콤비스켓| 1650| 1500|한빛제과|
+------+----------+-----+-----+--------+

In [25]:
# 제품테이블에서 제조업체 속성을 중복없이 검색해보자. 7-15
prod.select('maker').distinct().show()

+--------+
|   maker|
+--------+
|한빛제과|
|대한식품|
|민국푸드|
+--------+

In [83]:
# 제품테이블에서 제품명과 단가를 검색하되, 단가를 가격이라는 새 이름으로 출력해보자. 7-16
prod.select(prod.prodname.alias('상품명'), prod.price.alias('단가')).show()

+----------+----+
|    상품명|단가|
+----------+----+
|  그냥만두|4500|
|  매운쫄면|5500|
|  쿵떡파이|2600|
|맛난초콜렛|2500|
|  얼큰라면|1200|
|  통통우동|1550|
|달콤비스켓|1500|
+----------+----+

In [85]:
# 제품테이블에서 제품명과 단가 속성을 검색하되, 단가에 500원을 더해 '조정 단가'라는 새이름으로 출력해보자. 7-17
prod.select(prod.prodname.alias('상품명'), prod.price.alias('단가'), (prod.price + 500).alias('조정단가')).show()

+----------+----+--------+
|    상품명|단가|조정단가|
+----------+----+--------+
|  그냥만두|4500|    5000|
|  매운쫄면|5500|    6000|
|  쿵떡파이|2600|    3100|
|맛난초콜렛|2500|    3000|
|  얼큰라면|1200|    1700|
|  통통우동|1550|    2050|
|달콤비스켓|1500|    2000|
+----------+----+--------+

In [45]:
# 제품테이블에서 한빛제과가 제조한 제품의 제품명, 재고량, 단가를 검색해보자. 7-18
prod.filter(prod.maker == '한빛제과').select('prodname', 'stock', 'price').show()

+----------+-----+-----+
|  prodname|stock|price|
+----------+-----+-----+
|  쿵떡파이| 3600| 2600|
|맛난초콜렛| 1250| 2500|
|달콤비스켓| 1650| 1500|
+----------+-----+-----+

In [51]:
# 주문테이블에서 apple 고객이 15개이상 주문한 주문제품, 수량, 주문일자를 검색해보자. 7-19
ordr.filter((ordr['userid'] == 'apple') & (ordr['amount'] >= 15)).select('prodid', 'amount', 'orddate').show()

+------+------+----------+
|prodid|amount|   orddate|
+------+------+----------+
|   p03|    22|2013-03-15|
+------+------+----------+

In [52]:
# 주문테이블에서 apple고객이 주문했거나 15개 이상 주문된 재품의 주문제품, 수량, 주문일자, 주문고객을 알아보자. 7-20
ordr.filter((ordr['userid'] == 'apple') | (ordr['amount'] >= 15)).select('prodid', 'amount', 'orddate', 'userid').show()

+------+------+----------+------+
|prodid|amount|   orddate|userid|
+------+------+----------+------+
|   p03|    10|2013-01-01| apple|
|   p06|    45|2013-01-11|banana|
|   p06|    36|2013-02-20| melon|
|   p01|    19|2013-03-02|banana|
|   p03|    22|2013-03-15| apple|
|   p02|    50|2013-04-10|  pear|
|   p04|    15|2013-04-11|banana|
|   p03|    20|2013-05-22|carrot|
+------+------+----------+------+

In [54]:
# 제품테이블에서 단가 2000원 이상이면서 3000원 이하인 제품의 제품명, 단가, 제조업체를 검색해보자 7-21
prod.filter((prod['price'] >= 2000) & (prod['price'] <= 3000)).select('prodname', 'price', 'maker').show()

+----------+-----+--------+
|  prodname|price|   maker|
+----------+-----+--------+
|  쿵떡파이| 2600|한빛제과|
|맛난초콜렛| 2500|한빛제과|
+----------+-----+--------+

In [56]:
# 고객테이블에서 성이 김씨인 고객의 고객이름, 나이, 등급, 적립금을 검색해보자. 7-22
cust.filter(cust.name.like('김%')).select('name', 'age', 'grade', 'coins').show()

+------+---+------+-----+
|  name|age| grade|coins|
+------+---+------+-----+
|김선우| 25|   vip| 2500|
|김용욱| 22|silver|    0|
+------+---+------+-----+

In [93]:
# 고객테이블에서 고객아이디가 5자인 고객의 고객아이디, 고객이름, 등급을 검색해보자. 7-23
cust.filter(cust.userid.like('_____')).select('userid', 'name', 'grade').show()

+------+------+------+
|userid|  name| grade|
+------+------+------+
| apple|정소화|  gold|
| melon|성원용|  gold|
| peach|오형준|silver|
+------+------+------+

In [94]:
# 고객테이블에서 나이가 아직 입력되지 않은 고객의 고객이름을 검색해보자. 7-24
cust.filter(cust.age.isNull()).select('name', 'age').show()

+------+----+
|  name| age|
+------+----+
|오형준|null|
+------+----+

In [95]:
#고객테이블에서 나이가 이미 입력된 고객의 고객이름을 검색해보자. 7-25
cust.filter(cust.age.isNotNull()).select('name', 'age').show()

+------+---+
|  name|age|
+------+---+
|정소화| 20|
|김선우| 25|
|고명석| 28|
|성원용| 35|
|김용욱| 22|
|채광주| 31|
+------+---+

In [64]:
# 고객테이블에서 고객이름, 등급, 나이를 검색하되, 나이를 기준으로 내림차순으로 정렬해보자. 7-26
cust.select('name', 'grade', 'age').orderBy('age', ascending=False).show()

+------+------+----+
|  name| grade| age|
+------+------+----+
|성원용|  gold|  35|
|채광주|silver|  31|
|고명석|  gold|  28|
|김선우|   vip|  25|
|김용욱|silver|  22|
|정소화|  gold|  20|
|오형준|silver|null|
+------+------+----+

In [107]:
# 주문테이블에서 수량이 10개 이상인 주문의 주문고객, 주문제품, 수량, 주문일자를 검색해보자.
# 단, 주문제품을 기준으로 오름차순으로 정렬하고, 동일제품을 수량을 기준으로 내림차순으로 정렬해보자. 7-27
ordr.filter(ordr.amount >= 10).select('userid', 'prodid', 'amount', 'orddate')\
.orderBy('amount', ascending=False).orderBy('prodid',ascending=True).show()

+------+------+------+----------+
|userid|prodid|amount|   orddate|
+------+------+------+----------+
|banana|   p01|    19|2013-03-02|
|  pear|   p02|    50|2013-04-10|
| apple|   p03|    22|2013-03-15|
|carrot|   p03|    20|2013-05-22|
| apple|   p03|    10|2013-01-01|
|banana|   p04|    15|2013-04-11|
|banana|   p06|    45|2013-01-11|
| melon|   p06|    36|2013-02-20|
+------+------+------+----------+

In [109]:
# 7-27
ordr.filter(ordr.amount >= 10).select('userid', 'prodid', 'amount', 'orddate')\
.orderBy(['prodid','amount'], ascending=[1,0]).show()

+------+------+------+----------+
|userid|prodid|amount|   orddate|
+------+------+------+----------+
|banana|   p01|    19|2013-03-02|
|  pear|   p02|    50|2013-04-10|
| apple|   p03|    22|2013-03-15|
|carrot|   p03|    20|2013-05-22|
| apple|   p03|    10|2013-01-01|
|banana|   p04|    15|2013-04-11|
|banana|   p06|    45|2013-01-11|
| melon|   p06|    36|2013-02-20|
+------+------+------+----------+

In [114]:
# 제품테이블에서 모든 제품 단가의 평균 7-28
prod.agg(F.avg('price').alias('단가평균')).show()

+-----------------+
|         단가평균|
+-----------------+
|2764.285714285714|
+-----------------+

In [128]:
prod.agg(F.round(F.avg('price'),2).alias('단가평균')).show()

+--------+
|단가평균|
+--------+
| 2764.29|
+--------+

In [133]:
# 한빛제과에서 제조한 제품의 재고량 합계를 제품테이블에서 검색해보자 7-29
prod.filter(prod.maker == '한빛제과')\
.agg(F.sum('stock').alias('재고량합계')).show()

+----------+
|재고량합계|
+----------+
|      6500|
+----------+

In [137]:
# 고객테이블에 고객이 몇명이 등록되어 있는지 검색해보자 7-30
cust.agg(F.count('name').alias('고객수')).show()
cust.select('name').count()

+------+
|고객수|
+------+
|     7|
+------+

7

In [140]:
# 제품테이블에서 제조업체의 수를 검색해보자 7-30
prod.agg(F.countDistinct('maker').alias('제조업체수')).show()

+----------+
|제조업체수|
+----------+
|         3|
+----------+

In [143]:
# 주문테이블에서 주문제품별 수량의 합계를 검색해보자 7-31
ordr.groupBy('prodid').agg(F.sum('amount').alias('주문수량합계')).show()

+------+------------+
|prodid|주문수량합계|
+------+------------+
|   p03|          52|
|   p01|          24|
|   p06|          81|
|   p02|          58|
|   p04|          15|
+------+------------+

In [147]:
# 주문테이블에서 주문건수수량의 합계를 검색해보자 7-32
ordr.groupBy('prodid').agg(F.sum('amount').alias('주문수량합계'), F.count('prodid').alias('주문건수')).show()

+------+------------+--------+
|prodid|주문수량합계|주문건수|
+------+------------+--------+
|   p03|          52|       3|
|   p01|          24|       2|
|   p06|          81|       2|
|   p02|          58|       2|
|   p04|          15|       1|
+------+------------+--------+

In [150]:
# 7-33
prod.groupBy('maker').agg(F.count('prodid').alias('제품갯수'), F.max('price').alias('비싼단가')).show()

+--------+--------+--------+
|   maker|제품갯수|비싼단가|
+--------+--------+--------+
|한빛제과|       3|    2600|
|대한식품|       2|    4500|
|민국푸드|       2|    5500|
+--------+--------+--------+

In [156]:
# 7-34
prod.groupBy('maker').agg(F.count('prodid').alias('제품갯수'), F.max('price').alias('비싼단가'))\
.filter(F.col('제품갯수') >= 3).show()

+--------+--------+--------+
|   maker|제품갯수|비싼단가|
+--------+--------+--------+
|한빛제과|       3|    2600|
+--------+--------+--------+

In [161]:
# 7-35
cust.groupBy('grade')\
.agg(F.count('name').alias('고객수'), 
     F.round(F.avg('coins'),1).alias('적립금평균'))\
.filter(F.col('적립금평균') >= 1000).show()

+-----+------+----------+
|grade|고객수|적립금평균|
+-----+------+----------+
| gold|     3|    3500.0|
|  vip|     1|    2500.0|
+-----+------+----------+

In [174]:
# 7-36
ordr.groupBy('prodid')\
.agg(F.sum('amount')).show()

+------+-----------+
|prodid|sum(amount)|
+------+-----------+
|   p03|         52|
|   p01|         24|
|   p06|         81|
|   p02|         58|
|   p04|         15|
+------+-----------+

In [165]:
# 3-37
ordrprod = ordr.join(prod, 'prodid', 'inner')
ordrprod.filter(F.col('userid') == 'banana')\
.select('userid', 'prodname').show()

+------+----------+
|userid|  prodname|
+------+----------+
|banana|  통통우동|
|banana|  그냥만두|
|banana|맛난초콜렛|
+------+----------+

In [167]:
# 7-38
ordrcust = ordr.join(cust, 'userid', 'inner')
ordrcust.filter(F.col('age') >= 30).select('age', 'prodid', 'orddate').show()

+---+------+----------+
|age|prodid|   orddate|
+---+------+----------+
| 35|   p01|2013-01-10|
| 35|   p06|2013-02-20|
| 31|   p02|2013-04-10|
+---+------+----------+

In [171]:
# 7-39
ordcusprd = ordrcust.join(prod, 'prodid', 'inner')
ordcusprd.filter(F.col('name') == '고명석').select('name', 'prodname').show()

+------+--------+
|  name|prodname|
+------+--------+
|고명석|매운쫄면|
|고명석|쿵떡파이|
+------+--------+