## SparkJDBC
+ MariaDB나 Oracle에 저장된 테이블을 불러와서 분석을 하려면 pyspark 실행시 JDBC드라이버를 지정해야 함
+ pyspark --driver-class-path '사용할 jdbc드라이버'

In [1]:
# url = 'bigdata.cxknqyiapw23.ap-northeast-2.rds.amazonaws.com'
url = 'jdbc:oracle:thin:@bigdata.cxknqyiapw23.ap-northeast-2.rds.amazonaws.com:1521/bigdata'
userid = 'admin'
passwd = 'bigdata2022'

In [2]:
spark = SparkSession.builder.master('app').appName('sparkJDBC').getOrCreate()

In [3]:
emp = spark.read.format('jdbc')\
.options(url=url, user=userid, password=passwd, dbtable='EMPLOYEES').load()

In [4]:
emp.printSchema()

root
 |-- EMPLOYEE_ID: decimal(38,0) (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: decimal(38,0) (nullable = true)
 |-- COMMISSION_PCT: decimal(38,10) (nullable = true)
 |-- MANAGER_ID: decimal(38,0) (nullable = true)
 |-- DEPARTMENT_ID: decimal(38,0) (nullable = true)

In [5]:
emp.select('FIRST_NAME').show(5)

+----------+
|FIRST_NAME|
+----------+
|    Steven|
|     Neena|
|       Lex|
| Alexander|
|     Bruce|
+----------+
only showing top 5 rows

In [7]:
EMP = emp.createOrReplaceTempView('EMP')
sql = 'select FIRST_NAME from EMP'
spark.sql(sql).show(5)

+----------+
|FIRST_NAME|
+----------+
|    Steven|
|     Neena|
|       Lex|
| Alexander|
|     Bruce|
+----------+
only showing top 5 rows

In [8]:
# titanic.csv를 oracle에 import해서 titanic이라는 테이블 생성
titanic = spark.read.csv('titanic.csv', header=True, inferSchema=True)
TITANIC = titanic.createOrReplaceTempView('titanic')

In [ ]:
# spakrJDBㅊ로 연동하고 성별 생존자여부를 조회